@import variables
@import readingsContainer

header
  background-color: $grey-light
  min-height: 72px
  text-align: center
  padding-top: 10px
  border-bottom: $border
  margin-bottom: $air
  box-shadow: $outer-sh